body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.letter {
  border: 2px solid black;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
